# Copyright 2020 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

ansicolors==1.1.8
setuptools>=56.2.0
types-setuptools>=56.2.0
pytest==6.2.5
pyspark[sql]==3.3.1
pandas==1.5.1
pyarrow==6.0.1